// your workflow parameters
params {
  name = 'spi'
  outdir = "./results/"

  genome.structure = "${baseDir}/testdata/syn9r_structure.txt"
  genome.reconstruction = "${baseDir}/testdata/syn9r_reconstructions.txt"

  model.lambda = [4,5]
  model.nu = [0.3, 0.4]
  model.b = [150, 300]
  model.configs = 10

  // model.reweight.run = ["yes", "only", "no"]
  model.reweight.run = "yes" 
  model.reweight.lambda = [4,5,6,7,8]
  model.reweight.nu = [0.3, 0.33, 0.4]
  model.reweight.b = [150, 250, 300]
  
  model.reweight.lambda_radius = 1
  model.reweight.nu_radius = 0.05
  model.reweight.b_radius = 1
  

}

// include basic process configuration options
includeConfig 'conf/base.config' 
